body{
    background-color: $primary-color;
}

.san-red{
  color: $error-color;
}

.san-blue{
  color: $link-color;
}

.alert{
  padding: 20px;
  border: 1px solid #94f209;
  width: 100%;
  background-color: #00acc1;
  .alert-success{
    background-color: #f2dede!important;
  }
}

%message{
  padding: 20px;
  width: 100%;
  border: 1px solid;
  border-radius: 10px;
}

@mixin message($color) {
  @extend %message;
  color: $color;
  border-color: lighten($color, 20%);
  background: lighten($color, 40%);
}

//.message-error {
//  @include message(#b94a48);
//}
//
//.message-valid {
//  @include message(#468847);
//}
//
//.message-warning {
//  @include message(#c09853);
//}
//
//.message-info {
//  @include message(#3a87ad);
//}

$message-types: (
                (error    #b94a48)
                (valid    #468847)
                (warning  #c09853)
                (info     #3a87ad)
) !default;

@each $message-type in $message-types {
  $type:  nth($message-type, 1);
  $color: nth($message-type, 2);

  .message-#{$type} {
    @include message($color);
  }
}
