.bggrey{
    background: #555555;
}
.bggreyclaire{
    background: #555555;
}
.bgbody{
    background: #eeeeee;
}
.bggreyquote{
    background: #777777;
}
.bgorange{
    background: #ff5c02;
}
.cfontorange{
    color: #ff5c01;
}
.cfontgreay{
    color: #575757;
}